.body-content {
    margin-top: 50px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    display: table-cell;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

* {
    box-sizing: border-box;
}